<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=heading%></title>
</head>
<body>
    <h1>Hi this is product page</h1>
    <% for( let  i=0;i < size;i++ ){  %>
        <div>
            <h1><%=data[i].name%></h1>
            <!-- <p><%=data[i].productDesc%></p> -->
            <img height="200px" width="200px" src=<%=data[i].image%>/>
        </div>
    <%}%>
</body>
</html>