<h1>REgister</h1>
<form method="POST" action="/register">

    <div>
        <label for="username">Username</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>